/* CSS styling */
.outer {
    
    margin: 0 ;
  padding: 0;
      background-image: url('plava.jpeg');
      background-size: cover;
      background-position: center;
      /* opacity: 0.9; */
  
    background-size: cover;
  background-position: center;
  background-repeat:no-repeat;
  height: 100vh;
  }

  .step1{
    background-color: rgba(255, 255, 255, 0.685);
    margin-top: 10px;
    padding: 10px;
    border-radius: 1%;
  }
.row{
  padding: 15px;
  margin: 10px;
}
table{
  background-color: transparent;

}
  .form-title {
    color: #007bff;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  input[type="radio"] {
    margin-right: 10px;
  }
  
  label {
    color: #333;
  }
  
  .submit-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  .navbar-expand {
    background-color: rgb(34, 34, 181);
  }
  h1 {
    text-align: center;
    margin: 0 auto;
  }
  