<div class="three-part-screen">
    <div class="part">
        <div class="background-image" style="background-image: url('/src/assets/img/slika1.jpg');"></div>
        <div class="text">
        <h2>Text 1</h2>
      </div>
    </div>
    <div class="part">
        <div class="background-image" style="background-image: url('/src/assets/img/slika2.jpg');"></div>
      <div class="text">
        <h2>Text 2</h2>
      </div>
    </div>
    <div class="part">
        <div class="background-image" style="background-image: url('/src/assets/img/slika3.jpg');"></div>
      <div class="text">
        <h2>Text 3</h2>
      </div>
    </div>
  </div>
  