<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div class="panel border bg-white">


                    <div class="panel-heading">
                         <h2 class="pt-3 font-weight-bold">SignUp</h2>
                    </div>

                    <div class="panel-body p3">
                        <form [formGroup]="signUpForm" >
                            <div class="form-group p-3">
                                <div class="input-field" [class.error]="signUpForm.controls['firstName'].dirty && signUpForm.hasError('required','firstName')">
                                    <span class="fa fa-user p-2"></span>
                                    <input formControlName="firstName" type="text" placeholder="First Name">
                                </div>
                                <small *ngIf="signUpForm.controls['firstName'].dirty && signUpForm.hasError('required','firstName')" class="text-danger">*First name is required</small>

                            </div>
                            <div class="form-group p-3">
                                <div class="input-field" [class.error]="signUpForm.controls['lastName'].dirty && signUpForm.hasError('required','lastName')">
                                    <span class="fa fa-user p-2"></span>
                                    <input formControlName="lastName" type="text" placeholder="Last Name">
                                </div>
                                <small *ngIf="signUpForm.controls['lastName'].dirty && signUpForm.hasError('required','lastName')" class="text-danger">*Last name is required</small>

                            </div>
                            <div class="form-group p-3">
                                <div class="input-field" [class.error]="signUpForm.controls['email'].dirty && signUpForm.hasError('required','email')">
                                    <span class="fa fa-users p-2"></span>
                                    <input formControlName="email" type="text" placeholder="Email">
                                </div>
                                <small *ngIf="signUpForm.controls['email'].dirty && signUpForm.hasError('required','email')" class="text-danger">*Email is required</small>

                            </div>
                            <div class="form-group p-3">
                                <div class="input-field" [class.error]="signUpForm.controls['userName'].dirty && signUpForm.hasError('required','userName')">
                                    <span class="fa fa-user p-2"></span>
                                    <input formControlName="userName" type="text" placeholder="Username">
                                </div>
                                <small *ngIf="signUpForm.controls['userName'].dirty && signUpForm.hasError('required','userName')" class="text-danger">*Username is required</small>

                            </div>
                            <div class="form-group p-3">
                                <div class="input-field" [class.error]="signUpForm.controls['password'].dirty && signUpForm.hasError('required','password')">
                                    <span class="fa fa-lock p-2"></span>
                                    <input formControlName="password" [type]="type" placeholder="Password">
                                    <span (click)="hideShowPass()" class="fa {{eyeIcon}}"></span>

                                </div>
                                <small *ngIf="signUpForm.controls['password'].dirty && signUpForm.hasError('required','password')" class="text-danger">*Password is required</small>

                            </div>
                            <button (click)="onSignUp()" type="submit" class="btn btn-primary btn-block mt-4 w-12">Sign up </button>
                            <div class="text-center pt-4 text-muted">Already have an account yet? <a id="forget" routerLink="/login">Login</a></div>
                         </form>
                    </div>

                </div>

            </div>


        </div>

    </div>
</div>

<!-- 
<section class="text-center">
    <div class="outer" style="
         
          height: 300px;
          "></div>
  
    <div class="card mx-4 mx-md-5 shadow-5-strong" style="
          margin-top: -100px;
          background: hsla(0, 0%, 100%, 0.8);
          backdrop-filter: blur(30px);
          ">
      <div class="card-body py-5 px-md-5">
  
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <h2 class="fw-bold mb-5">Sign up now</h2>
            <form [formGroup]="signUpForm">
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline"[class.error]="signUpForm.controls['firstName'].dirty && signUpForm.hasError('required','firstName')">
                     <small *ngIf="signUpForm.controls['firstName'].dirty && signUpForm.hasError('required','firstName')" class="text-danger">*First name is required</small>
<input formControlName="firstName" type="text" id="form3Example1" class="form-control" />

                    <label class="form-label" for="form3Example1">First name</label>                   
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline"[class.error]="signUpForm.controls['lastName'].dirty && signUpForm.hasError('required','lastName')">
                             <small *ngIf="signUpForm.controls['lastName'].dirty && signUpForm.hasError('required','lastName')" class="text-danger">*Last name is required</small>
 <input formControlName="lastName" type="text" id="form3Example2" class="form-control" />

                    <label class="form-label" for="form3Example2">Last name</label>          
                  </div>
                </div>
              </div>
  
              <div class="form-outline mb-4"[class.error]="signUpForm.controls['email'].dirty && signUpForm.hasError('required','email')">
                    <small *ngIf="signUpForm.controls['email'].dirty && signUpForm.hasError('required','email')" class="text-danger">*Email is required</small>
<input formControlName="email" type="email" id="form3Example3" class="form-control" />

                <label class="form-label" for="form3Example3">Email address</label>            
              </div>

              <div class="form-outline mb-4"[class.error]="signUpForm.controls['userName'].dirty && signUpForm.hasError('required','userName')">
                 <small *ngIf="signUpForm.controls['userName'].dirty && signUpForm.hasError('required','userName')" class="text-danger">*Username is required</small>
 <input formControlName="userName" type="text" id="form3Example3" class="form-control" />

                <label class="form-label" for="form3Example3">Username</label>              
              </div>
  
              <div class="form-outline mb-4"[class.error]="signUpForm.controls['password'].dirty && signUpForm.hasError('required','password')">
                <small *ngIf="signUpForm.controls['password'].dirty && signUpForm.hasError('required','password')" class="text-danger">*Password is required</small>
<input formControlName="password" type="password" id="form3Example4" class="form-control" />

                <label class="form-label" for="form3Example4">Password</label>                
              </div>
  
  
              <button (click)="onSignUp()"  type="submit" class="btn btn-primary btn-block mb-4">
                Sign up
              </button>
  
              <div class="text-center">
                <div class="text-center pt-4 text-muted">Already have an account yet? <a id="forget" routerLink="/login">Login</a></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section> -->